---
layout: page
title: "Tutorials"
permalink: /tutorial/
author_profile: true
---

{% include base_path %}

{% for post in site.tutorial reversed %}
  {% include archive-single.html %}
{% endfor %}
<font size=2>
<p>
<b><u>Beginner Level HEC-HMS Labs/Tutorials</u></b>
<ol>
<li><a href="notes.pdf" target="_blank">HEC-HMS Lab 1: Creating a Single Basin HEC-HMS Model</a> (last updated Jan 2020) <a href="education/hms1_spanish.pdf" target="_blank">Spanish version by Sandra Villamizar </a></li> 
<li><a href="education/hms2.pdf" target="_blank">HEC-HMS Lab 2: Creating HMS Schematic for Multiple Sub-basins</a> (last updated Feb 2020)</li> 
<li><a href="education/hms3.pdf" target="_blank">HEC-HMS Lab 3: Using Weighted Rainfall (Thiessen Polygon and Inverse Distance Weighting) in HEC-HMS</a> (last updated Feb 2020)</li> 
<li><a href="education/hms4.pdf" target="_blank">HEC-HMS Lab 4: Using Frequency Storms in HEC-HMS </a> (last updated Feb 2020)</li> 
<li><a href="education/hms5.pdf" target="_blank">HEC-HMS Lab 5: Modeling of Fish Creek in Indiana</a> (last updated Feb 2020)</li> 
<li><a href="education/hms6.pdf" target="_blank">HEC-HMS Lab 6: Manual Calibration of HEC-HMS</a> (last updated March 2020) <a href="education/hms6_portuguese.pdf" target="_blank">Portuguese version by Gabriela Rezende de Souza </a></li> 
<li><a href="education/hms7.pdf" target="_blank">HEC-HMS Lab 7: Using Autocalibration in HEC-HMS</a> (last March 2020)</li> 
<li><a href="education/hms8.pdf" target="_blank">HEC-HMS Lab 8: Investigating Basflow in HEC-HMS </a> (last updated March 2020)</li> 
<li><a href="education/hms9.pdf" target="_blank">HEC-HMS Lab 9: Routing a hydrograph using Muskingum Method</a> (last updated September 2018)</li> 
<li><a href="education/hms10.pdf" target="_blank">HEC-HMS Lab 10: Reservoir Routing in HEC-HMS</a> (last updated October 2016)</li> 

</ol>
</ol>

<p>

