{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<br>
<div align="center">
Liked this post? Share on:
&nbsp;<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&text=Check out this blog post: {{ page.title }} from&hashtags={{ site.data.authors.first[1].twitter }}&via={{ site.data.authors.first[1].twitter }}&related={{ site.data.authors.first[1].twitter }}" target="_blank" title="Tweet"><span class="icon-twitter"></span></a>
&nbsp;<a href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><span class="icon-reddit"></span></a>
&nbsp;<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" title="Share on LinkedIn"><span class="icon-linkedin2"></span></a>
</div>